.cabecera .cabecera__imagen {
  position: absolute;
  right: 2em;
  top: 1em;
}
.cabecera .cabecera__imagen a {
  font-family: "Cascadia code", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5em;
}
.cabecera .cabecera__imagen a h4 {
  color: var(--color-nuevo);
}
.cabecera .cabecera__imagen a h4 span {
  color: var(--color-oscuro);
}

.Principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Principal .Principal__contenedor {
  display: flex;
  flex-direction: column;
  margin: 5.3em 1em;
}
@media (min-width: 1080px) {
  .Principal .Principal__contenedor {
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.Principal .Principal__contenedor .contenedor__elementos {
  display: flex;
  margin-bottom: 5em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1080px) {
  .Principal .Principal__contenedor .contenedor__elementos {
    width: 60%;
  }
}
.Principal .Principal__contenedor .contenedor__elementos h3 {
  font-size: 1.7em;
  text-align: left;
  font-family: "Roboto Mono", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.Principal .Principal__contenedor .contenedor__elementos h3 span {
  color: var(--color-nuevo);
}
.Principal .Principal__contenedor .contenedor__elementos button {
  border: none;
  background: var(--color-oscuro);
  color: var(--blanco);
  padding: 10px 20px;
  border-radius: 5px;
  max-width: 10em;
  font-family: "Roboto Mono", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}
.Principal .Principal__contenedor .contenedor__elementos button:hover {
  background: var(--color-nuevo);
}
.Principal .svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Principal .svg img {
  padding: 1em;
  max-width: 20em;
}
.Principal .about {
  background: var(--color-nuevo);
  color: #fff;
}
.Principal .about h3 {
  font-weight: 700;
  text-align: center;
  font-size: 2em;
  font-family: "Cascadia code", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Principal .about p {
  font-family: "Cascadia code", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  padding: 1.3em;
}
@media (min-width: 768px) {
  .Principal .about {
    width: 50%;
    max-height: 40em;
    margin-bottom: 3em;
    border-radius: 0 0 1em 0;
    padding: 1em;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.skills .skill {
  background: var(--color-oscuro);
  color: #fff;
  padding: 2em;
  font-family: "Cascadia code", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media (min-width: 768px) {
  .skills .skill {
    width: 30em;
    align-self: flex-end;
    border-radius: 0 0 0 1em;
  }
}

h3 {
  text-align: center;
  padding: 20px;
  font-size: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.proyectos {
  display: grid;
  grid-template-columns: 1fr;
}
.proyectos .proj1 {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 2em;
}
.proyectos .proj1 .neumorfismo {
  width: 300px;
  max-height: 50em;
  border-radius: 50px;
  box-shadow: 20px 20px 60px #3b4242, -20px -20px 60px #fdffff;
}
.proyectos .proj1 .pokemon .imagen {
  width: auto;
  border-radius: 50px;
  height: 20em;
  background-size: cover;
  background-image: url("../Img/pokedex-escritorio.jpg");
}
.proyectos .proj1 .pokemon .imagen2 {
  width: auto;
  border-radius: 50px;
  height: 20em;
  background-size: contain;
  background-image: url("../Img/gogo.jpg");
}
.proyectos .proj1 .pokemon .imagen3 {
  width: auto;
  border-radius: 50px;
  height: 20em;
  background-size: cover;
  background-image: url("../Img/coffe.jpg");
}
.proyectos .proj1 .pokemon .imagen4 {
  width: auto;
  border-radius: 50px;
  height: 20em;
  background-size: cover;
  background-image: url("../Img/freelance.jpg");
}
@media (min-width: 768px) {
  .proyectos .proj1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .proyectos .proj1 {
    grid-template-columns: repeat(3, 1fr);
  }
}
.proyectos .proj1 .informacion {
  position: absolute;
  top: 0;
  width: 18.8em;
  height: 100%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #292727bd;
  justify-content: space-evenly;
  color: #fff;
}
@media (min-width: 1024px) {
  .proyectos .proj1 .informacion {
    opacity: 0;
    transition: all 0.6s;
  }
  .proyectos .proj1 .informacion:hover {
    opacity: 1;
  }
}
.proyectos .proj1 .informacion p {
  font-size: 2em;
}
.proyectos .proj1 .informacion ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Cascadia code", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.proyectos .proj1 .informacion .buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.proyectos .proj1 .informacion .buttons button {
  background: var(--color-principal);
  border: none;
  padding: 0.4em 1em;
  border-radius: 4px;
}
.proyectos .proj1 .informacion .buttons button:hover {
  background: var(--color-nuevo);
}
.proyectos .proj1 .informacion .buttons button a {
  text-decoration: none;
  color: #fff;
}
@media (min-width: 768px) {
  .proyectos .proj1 {
    display: flex;
    justify-items: center;
  }
}
@media (min-width: 768px) {
  .proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .proyectos {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=principal.css.map */
